<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD37m2C_7Ee4FQm7juJfbm6QsdiKMsqdmw</string>
	<key>GCM_SENDER_ID</key>
	<string>854804288375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPanel</string>
	<key>PROJECT_ID</key>
	<string>vivastore-6645c</string>
	<key>STORAGE_BUCKET</key>
	<string>vivastore-6645c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854804288375:ios:93b843bb741b25051cc772</string>
</dict>
</plist>